.message {
    background-color: #a7e601;
    display: flex;
    align-items: flex-end;
}

img {
    border-radius: 50%;
    width: 65px;
    height: 65px;
    margin: 15px 0 15px 15px;
}

.message_box {
    background-color: #000;
    color: white;
    min-width: 200px;
    max-width: 250px;
    border-radius: 10px 10px 10px 0;
    padding: 10px;
    margin-bottom: 15px;
    margin-top: 15px;
}

.angle {
    width: 15px;
    height: 15px;
    margin-bottom: 15px;
    background: radial-gradient(circle at 0 0, rgba(0, 0, 0, 0) 15px, rgba(0, 0, 0) 0);
}

.sender_name {
    color: #755d99;
    font-weight: bold;
    margin: 0 0 5px 0;
}

.sent_text {
    display: flex;
    justify-content: space-between;
    color: #8fb094;
    word-break: break-word;
    margin: 0;
}

.time {
    color: rgba(65, 121, 68, 0.55);
    margin-top: auto;
    word-break: normal;
    margin-left: 8px;
}