.editableSpan {
    display: inline-block;
    padding: 3px 3px;
    background-color: #00c46a;
    cursor: text;
}

.editableSpanInput {
    background-color: transparent;
    outline: none;
    border: none;
    border-bottom: 2px solid black;
}