.affair {
    margin: 10px;
    display: inline-block;
    width: 80px;
    font-weight: bold;
}

.priority {
    margin: 10px;
    display: inline-block;
    width: 80px;
}

.high {
    color: rgb(218, 0, 0);
}

.middle {
    color: yellow;
}

.low {
    color: blue;
}

.priority_button {
    margin: 3px;
    width: 58px;
}