.superRadio {
    font-family: sans-serif;
    margin: 5px 5px;
    font-size: 12pt;
}

label {
    margin-right: 8px;
}

input[type="radio"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    border-radius: 50%;
    width: 16px;
    height: 16px;

    border: 2px solid #320a28;
    transition: 0.2s all linear;
    outline: none;
    margin-right: 5px;

    position: relative;
    top: 4px;
    cursor: pointer;
}

input[type="radio"]:checked {
    border: 6px solid #320a28;
}
