.navLinkItem {
    margin: 7px;
    text-decoration: none;
    color: #FFDA29;
    font-weight: bold;
    text-shadow: 0 0 2px #0c6474;
}

.navLinkItem:hover {
    color: #0c6474;
}

.activeNavLink {
    margin: 7px;
    padding: 2px;
    background-color: papayawhip;
    text-decoration: none;
    font-weight: bold;
    color: #eb417b;
    text-shadow: 0 0 2px #fff;
}