.input {
    margin: 5px;
}

.error {
    outline: none;
    border: 3px solid rgb(220, 0, 0);
    margin: 10px;
}

.error_message {
    color: rgb(220, 0, 0);
    font-weight: bold;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

.add_user_button {
    margin: 5px;
}

.total_users {
    color: yellow;
    font-weight: bold;
    margin: 5px;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}